/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";

html {
	body {
		margin-top: 100px;
		nav {}
		//form {
		input#gitHubUserName {}
		//}
		.container {
			.row {
				.col-lg-12 {
					h1 {
						font-size: $extra-large;
						margin: 0 0 20px;
					}
					p {
						font-size: $small;
						margin: 0 0 20px;
					}
					#repoCount {
						font-size: $large;
						margin: 30px 0;
					}
					#repoUser {
						font-size: $medium;
						margin: 30px 0;
					}
					#repos {
						#repoList {
							list-style-type: decimal;
							padding-left: $medium;
							li {
								margin: 0 0 20px;
							}
						}
					}
					#btnGetRepos {}
				}
			}
		}
	}
}